
        .item1 { grid-area: header; background-color: #2196F3;}
        .item2 { grid-area: menu;}
        .item3 { grid-area: main;}
        .item4 { grid-area: right;}
        .item{
            background-color: yellow;
        }
        .grid-container {
          display: grid;
          grid-template-areas:
            'header header header header header header'
            'menu main main main main right'
            'menu main main main main right';
          gap: 0px;
         
          padding: 0px;
        }
       
        .grid-container > div {
          text-align: center;
          padding: 20px 0;
          font-size: 30px;
        }
        .container1{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 300px 200px;
            gap: 2px;
            padding: 5px;
        }