*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: tahoma;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: 100%;
}
.tenh1{
    font-size: 300%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.container{
    margin: 0 auto;
    margin-top: 85px;
}
header{
    display: grid;
    grid-template-columns: 6fr 1fr;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white; 
    z-index: 2;
    box-shadow: 0px 0px 5px 0px gray;
}
header a{
    text-align: center;
}
header img{
    width: 80px;
}
.search{
    margin: auto;
}
.search i{
    font-size: 200%;
    color: #70ADF5;
}

nav{
    padding-top: 2px;
    width: 100%;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px;
    grid-gap: 0 5px;
    grid-template-rows: 80px;
}
nav a{
    line-height: 80px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    font-size: 1.5em;
    box-shadow: 2px 1px 6px 1px gray;
    color: gray;
    background-color: whitesmoke;
}
.logo a{
    border: none;
    box-shadow: none;
    background-color: none;
}
.logo a:hover{
    border: none;
    box-shadow: none;
    background-color:none;
}
.logo a img{
    width: 100%;
    padding-top: 20px;
}
.logo a img:hover{
    padding-top: 20px;
}
.banner img{
    width: 100%;
    height: 600px;
}

footer{
    padding: 20px;
    display: flex;
    background-color: #70ADF5;
    justify-content: space-evenly;
}
footer p{
    color: white;
    font-size: 1.5em;
    text-align: center;
}
footer a img{
    height: 30px;
}
.mySlides {display: none;}
.mySlides img {vertical-align: middle;
    height: 400px;
    }

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.formchon{
    text-align: center;
}

.sapxephop{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hop{
    border: 1px black solid;
    border-radius: 10%;
    text-align: center;
    margin: 0 4% 4% 4%;
    padding: 8%;
    transition: transform 0.5s;
    background-color: white;
}
.hop img{
    width: 100px;
}
.hop:hover{
    transform: scale(1.2); 
}
.hop button{
    padding: 1%;
}
.hophome{
    display: flex;
    flex-grow: 1 3 1;
    margin: 2%;
    border: 1px gray solid;
    border-radius: 20%;
}
.hophome img{
    padding: 1%;
    border-radius: 35%;
}
.hophome button{
    margin: 8% 10%;
    padding: 1%;
    flex: 1;
    font-size: 120%;
    border-radius: 10%;
}
.wordhome{
    padding: 5%;
}
.wordhome h2{
    flex-grow: 2;
    font-size: 200%;
}
.imghome{
    padding-left: 5%;
    flex-grow: 1;
}
.giohang{
    display: flex;
    flex-direction: row;
}
.phaigh{
    flex-grow: 9;
    display: flex;
    padding: 5%;
    padding-left: 10%;
}
.phaighimg{
    text-align: center;
    flex-grow: 1;
}
.phaighimg img {
    width: 300px;
}
.tgm{
    padding: 5%;
    margin-left: 5%;
    padding-top: 3%;
    padding-bottom: 0%;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}
.tgm h1{
    flex-grow: 1;
    font-size: 200%;
}
.tgm p{
    flex-grow: 1;
}
.tgm h3{
    flex-grow: 4;
}
.tgm button{
    flex-grow: 1;
}
.traigh{
    padding: 5%;
    flex-grow: 1;
}
.traigh iframe{
    width: 100%;
    height: 300px;
}
form{
    text-align: center;
    font-size: 150%;
    line-height: 30px;
}
button{
    border-radius: 20%;
    border: #717171 1px solid;
    padding: 10px;
    color: #717171;
}
table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
table th{
    color: white;
    background-color: #70ADF5;
}